<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/materialize.min.css">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/script.js"></script>
</head>