<nav>
    <div class="container">
    	<div class="nav-wrapper">
    		<a href="#">Admin Panel</a>
    	    <ul id="nav-mobile" class="right hide-on-med-and-down">
    	        <li><a href="/bakery">Links</a></li>
    	    </ul>
    	</div>
    </div>
</nav>