
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
// Special Classes

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

b, .bold {
    font-weight: $fw-bold;
}

.underline {
    text-decoration: underline;
}

.strike-through {
    text-decoration: line-through;
}

.noselect {
	user-select: none;
}
