


///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
// Margin and gutter settings
$max-width: 1200px;
$container-width: 90%;
$margin1: 5% / 2;
$gutter1: 12px;
$gutter2: 24px;
$gutter3: 36px;


///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
// Global responsive sizes
$S: 480px;
$M: 768px;
$L: 992px;
$XL: 1200px;
$XLL: 1400px;



///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
// Font settings
$fw-bold: 500;



///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
// Colors settings
$c-dark-blue: #0f4470;
$c-white: #cecece;
$c-black: #1c1c1c;
$c-red: #eb606b;


:root {
	--font-header: 'Gilroy Light', Helvetica, sans-serif;
	--c-white: #cecece;
	--goal-border: 1px solid #333;
	--status-wip: #eee;
	--status-not-completed: #505989;
	--status-progressed: #c3c3c3;
	--status-completed: #e6e6e6;
}















